/*-------------------------------------------------------------------------------
  Ogólne
-------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
/*  background-image: linear-gradient(to right, #0f6299, #575a5a); */
}

/*-------------------------------------------------------------------------------
  DOM
-------------------------------------------------------------------------------*/
.wdiscord {
	position: absolute;
	right: 30px;
	top: 125px;
	opacity: 75%;
}

.s-dom {
	padding: 0vh 0; /*Tutaj zmnieniasz wyskoność*/
	color: red;
}

.dom .title{
	font-size: 38px;
	font-weight: 700;
}

.dom p{
	padding-top: 10px;
	text-align: justify;
}
/*-------------------------------------------------------------------------------
  NAS
-------------------------------------------------------------------------------*/
.s-nas {
	padding: 50vh 0; /*Tutaj zmnieniasz wyskoność*/
	color: red;
}

.nas .title{
	font-size: 38px;
	font-weight: 700;
}

.nas p{
	padding-top: 10px;
	text-align: justify;
}

/*-------------------------------------------------------------------------------
  DOLACZ
-------------------------------------------------------------------------------*/
.s-dolacz {
	padding: 50vh 0; /*Tutaj zmnieniasz wyskoność*/
	color: red;
}

.dolacz .title{
	font-size: 38px;
	font-weight: 700;
}

.dolacz p{
	padding-top: 10px;
	text-align: justify;
}

/*-------------------------------------------------------------------------------
  MAPA
-------------------------------------------------------------------------------*/
.s-mapa {
	padding: 50vh 0; /*Tutaj zmnieniasz wyskoność*/
	color: red;
}

.mapa .title{
	font-size: 38px;
	font-weight: 700;
}

.mapa p{
	padding-top: 10px;
	text-align: justify;
}

/*-------------------------------------------------------------------------------
  KONTAKT
-------------------------------------------------------------------------------*/
.s-kontakt {
	padding: 50vh 0; /*Tutaj zmnieniasz wyskoność*/
	color: red;
}

.kontakt .title{
	font-size: 38px;
	font-weight: 700;
}

.kontakt p{
	padding-top: 10px;
	text-align: justify;
}

/*-------------------------------------------------------------------------------
  Navbar
-------------------------------------------------------------------------------*/

#navbar {
    position: static;
    top: 0;
	z-index: 10;
	right: 50px;
}

.navbar {
/*  background-image: linear-gradient(to right, #0f6299, #575a5a); */
    padding: 0 !important;
}

.navbar-bard img {
    height: 10px;
    padding-left: 10px;
}

.navbar-nav li {
	padding: 0 0px;
	text-align: center;
}

.navbar-nav li a {
    color: red !important;
    font-weight: 600;
}



ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: arial;
}
   
ul li {
	float: left;
	width: 150px;
	height: 40px;
	opacity: .8;
	line-height: 25px;
	right: 60;
	left: 40;
	font-size: 15px;
}
   
.nav-mapa {
	top: 30px;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
}

   
ul li a {
	text-decoration: none;
	color: white;
	display: block;
}
   
ul li a:hover {
	background-color: gray;
}
   
ul li ul li{
	display: none;
}
   
ul li:hover ul li {
	display: block;
}

/*-------------------------------------------------------------------------------
  banner area
-------------------------------------------------------------------------------*/
.banner-area {
	position: relative;
}
.banner-area-gradient {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background: rgb(27,19,19);
}
.banner-text {
	padding-top: 8%;
	padding-bottom: 3%;
}
.banner-text h1 {
	margin-top:10%;
	color: #fff;
	font-weight: 100;
	font-size: 28px;
	text-transform: capitalize;
	letter-spacing: 2px;
}
.banner-text p {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing:3px;
	margin-bottom: 5%;
	font-family: arial;
}