* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to right, #0f6299, #575a5a);
}

#navbar {
    position: static;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #0f6299, #575a5a);
    padding: 0 !important;
}

.navbar-bard img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
}
